<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="ChuzeMoto | Precise | Performance" />
  <meta name="google" content="notranslate">
  <meta http-equiv="Content-Language" content="en">
  
   
  <title>ChuzeMoto</title>

   <link rel="stylesheet" href="chuzemoto.css">

</head>


<body class="home page-template page-template-tpl-homepage page-template-tpl-homepage-php page page-id-5 page-homepage">

<header>
    <!-- Top Left Corner #ChuzeMoto link -->
    <div class="inner-header-wrapper clearfix">
      <div class="main-logo">
        <a class="logo-wrapper" href="https://www.instagram.com/explore/tags/motorcylces/">

        <!-- Top Left Corner -->
          <p>#ChuzeMoto</p> 
        </a>
      </div>
      <div class="main-navigation">
        <ul id="menu-header-menu" class="menu">

          <li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="https://www.google.com/search?q=ADV+Bikes&source=lnms&tbm=isch&sa=X&ved=0ahUKEwi7y-LMwszYAhVJx2MKHeDjDWQQ_AUICygC&biw=1159&bih=846&dpr=2">ADV</a></li>

          <li id="menu-item-40" class="brands menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="https://www.google.com/search?q=Street+Bikes&source=lnms&tbm=isch&sa=X&ved=0ahUKEwik8P3uwszYAhUP72MKHUsIB2oQ_AUICygC&biw=1159&bih=846&dpr=2">Street</a></li>
       
          <li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41"><a href="https://www.google.com/search?biw=1159&bih=846&tbm=isch&sa=1&ei=85FVWqrPB87AjwPZ5LvgBg&q=Cruiser+Motorcycle+Bikes&oq=Cruiser+Motorcycle+Bikes&gs_l=psy-ab.3..0j0i24k1.2954.6830.0.7436.13.12.1.0.0.0.79.715.12.12.0....0...1c.1.64.psy-ab..0.13.715...0i67k1j0i7i10i30k1j0i7i30k1j0i8i7i30k1j0i13k1j0i13i30k1j0i13i5i30k1j0i10k1.0.GIjxGlHbUR8">Cruiser</a></li>

          <li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39"><a href="https://www.google.com/search?q=Motorcycle+Gear&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjyqPmyw8zYAhUX5mMKHSjpAW0Q_AUIDCgD&biw=1159&bih=846&dpr=2">Gear</a></li>
    </ul>      
</div>
        <div class="main-menu-actions">
          <div class="dropdown">
            <a href="/login" class="log-in">
              <span class="log-in-text">Members LOG IN</span>
            </a>
        </div>
    </div>
      
      <div class="btn-mobile-menu menu-full-trigger">
        <hr class="bar top">
        <hr class="bar middle">
        <hr class="bar bottom">
      </div>

    </div>
  </header>



  <section>
     <div class="fullscreen-container fc-special has-blind has-animations">
       <div class="hero-wrapper hero-for-5" style="padding-bottom: calc(0.5625*100%);" > 
      
      
              <div class="video-layer">
              <div class="zg-video-wrapper">
              

      <video 
        autoplay
        loop
        muted
        playsinline
        preload="auto"
        class="zg-video"
        style="opacity: 0;">
        
     
         <script>
          function iOSversion(){
            if (/iP(hone|od|ad)/.test(navigator.platform)) {
              var v = (navigator.appVersion).match(/OS (\d+)_(\d+)_?(\d+)?/);
              return [parseInt(v[1], 10), parseInt(v[2], 10), parseInt(v[3] || 0, 10)];
            }
          }
          var ver = iOSversion();
          var $iosTrigger = ver != undefined && ver.length > 0 && ver[0] < 10;
        </script>


       
        <script>
          var width = document.body.clientWidth;
          window.FullScreen = window.FullScreen || {};

          window.FullScreen.videoSrcs = {
            'desktop': {
              'mp4': 'http://images-nitrosell-com.akamaized.net/store_images/3/549/image_carousel/shipping4.jpg',
              'webm': 'http://images-nitrosell-com.akamaized.net/store_images/3/549/image_carousel/shipping4.jpg'
            },
            'mobile': {
              'mp4': 'http://images-nitrosell-com.akamaized.net/store_images/3/549/image_carousel/shipping4.jpg',
              'webm': 'http://images-nitrosell-com.akamaized.net/store_images/3/549/image_carousel/shipping4.jpg'
            }
          };

          window.FullScreen.videoSrcs = {
            'desktop': {
              'mp4': 'http://images-nitrosell-com.akamaized.net/store_images/3/549/image_carousel/shipping4.jpg',
              'webm': 'http://images-nitrosell-com.akamaized.net/store_images/3/549/image_carousel/shipping4.jpg',
            },
            'mobile': {
              'mp4': 'http://images-nitrosell-com.akamaized.net/store_images/3/549/image_carousel/shipping4.jpg',
              'webm': 'http://images-nitrosell-com.akamaized.net/store_images/3/549/image_carousel/shipping4.jpg'
            }
          };
          if ( width >= 992  || $iosTrigger) {// Desktop
                          document.write('<source type="video/mp4" src="https://youtu.be/LdLSqqiZS7E?t=18">');
                                      document.write('<source type="video/webm" src="http://images-nitrosell-com.akamaized.net/store_images/3/549/image_carousel/shipping4.jpg">');
                      } else {
                          document.write('<source type="video/mp4" src="https://youtu.be/LdLSqqiZS7E?t=18">');
                                      document.write('<source type="video/webm" src="http://images-nitrosell-com.akamaized.net/store_images/3/549/image_carousel/shipping4.jpg">');
                      }

        </script>

      </video>
    </div>
            </div>
      
      <div class="content-layer with-video">
        <div class="content-box">
              <h1><span class="page-title">ChuzeMoto Media</span><span class="page-subtitle">Choose your Bike with Precision<br class="hidden-xs">Moto Trend<br class="hidden-xs">Performance</span></h1>
    <div class="content-action">

      
            
    </div>
            </div>

              </div>
      <span class="hero-color-overlay"></span>
    </div>

      <div class="blind-layer" style="margin-top: calc(0.5625*100%);" >
    <div class="inner-blind">
      <div class="separator-tout">
            <span class="angle-up angle up">
    </span>
        <span class="more-button">
      <a href="#" class="more-arrow">
        <span>More</span>
      </a>
    </span>
            <div class="tout-content">
          <h2 class="hidden-xs hidden-sm">ChuzeMoto is a place where riders of all levels<br>
Beginners, and Enthusiasts join forces.</h2>
          <h2 class="visible-xs visible-sm">ChuzeMoto is a place where riders of all levels<br>
Beginners, and Enthusiasts join forces.</h2>
        </div>
        <img class="angle-bottom" src="https://fullscreenmedia.co/wp-content/themes/fullscreenmedia/assets/build/images/home/tout-angle-bottom.png" alt="">
        <img class="angle-bottom white-angle visible-xs" src="https://fullscreenmedia.co/wp-content/themes/fullscreenmedia/assets/build/images/home/cross-layer-1-mobile.png" alt="">
      </div>
      
      <script>
        var width = document.body.clientWidth;
      </script>
      <div class="home-blend sticker1 creator-blend">
      
        <script>
          if ( width >= 992 ) { // Desktop
            document.write('<span class="section-img-layer" style="background-image: url(http://passionofmotorcycles.e-monsite.com/medias/album/bmw-1.jpg);" data-stellar-ratio="0.8"></span>');
          } else {
            document.write('<img src="http://passionofmotorcycles.e-monsite.com/medias/album/bmw-1.jpg" alt="">');
          }
        </script>k1
        
        <div class="cta">
          <img src="http://images.triumphmotorcycles.co.uk/media-library/images/bikes/my17%20roadsters/my17-street-triple-rs-engine-banner3-lb.jpg?w=2200" alt="" class="mobile-angle angle-top visible-xs visible-sm">
          <h2 class="flip-in">Riders.</h2>
          <p class="flip-in">We help Riders reach their full potential.</p>
          <a href="/signup" class="btn filled flip-in">Learn More</a>
          <img src="http://images.triumphmotorcycles.co.uk/media-library/images/bikes/my17%20roadsters/my17-street-triple-rs-engine-banner3-lb.jpg?w=2200" alt="" class="mobile-angle angle-bottom visible-xs visible-sm">
          <img class="mobile-angle angle-bottom black-angle visible-xs visible-sm" src="http://images.triumphmotorcycles.co.uk/media-library/images/bikes/my17%20roadsters/my17-street-triple-rs-engine-banner3-lb.jpg?w=2200" alt="">
        </div>

        <span class="angled-box to-bottom inverted">
          <span class="layer-wrapper">
            <span class="bottom-black-layer" data-stellar-ratio="0.35"></span>
          </span>
        </span>
        
      </div>

      <div class="home-blend sticker2 brandworks-blend full-bleed-section">
        <script>
          if ( width >= 992 ) { // Desktop
            document.write('<div class="section-img-layer angled-img-layer"><div class="inner-character-layer"><div class="depth-character-layer" style="background-image: url(http://images.triumphmotorcycles.co.uk/media-library/images/bikes/my17%20roadsters/my17-street-triple-rs-engine-banner3-lb.jpg?w=2200);"></div></div></div>');
          } else {
            document.write('<img src="http://images.triumphmotorcycles.co.uk/media-library/images/bikes/my17%20roadsters/my17-street-triple-rs-engine-banner3-lb.jpg?w=2200" class="img-responsive section-image" alt="">');
          }
        </script>
        <div class="cta">
          <img src="https://fullscreenmedia.co/wp-content/themes/fullscreenmedia/assets/build/images/home/brandworks-top-angle.png" alt="" class="mobile-angle angle-top visible-xs visible-sm">
          <h2 class="flip-in">Brands.</h2>
          <p class="flip-in">Fueling riders.</p>
          <a href="file:///Users/code2success/Downloads/nalu-master/client/public/index.html" class="btn filled flip-in">Learn More</a>
          <img src="https://fullscreenmedia.co/wp-content/themes/fullscreenmedia/assets/build/images/home/brandworks-bottom-angle.png" alt="" class="mobile-angle angle-bottom visible-xs visible-sm">
        </div>
        <span class="angled-box to-bottom">
          <span class="layer-wrapper">
            <span class="bottom-white-layer" data-stellar-ratio="0.4"></span>
          </span>
        </span>
      </div>

      <div class="home-blend sticker3 entertainment-blend full-bleed-section">
        <script>
          if ( width >= 992 ) { // Desktop
            document.write('<div class="section-img-layer angled-img-layer inverted" data-stellar-ratio="1.20"><div class="inner-character-layer"><div class="depth-character-layer" style="background-image: url(http://blog.myleather.com/wp-content/uploads/2016/09/Harley-Davidson-Sales-Down.jpg);"></div></div></div>');
          } else {
            document.write('<img src="http://blog.myleather.com/wp-content/uploads/2016/09/Harley-Davidson-Sales-Down.jpg" class="img-responsive section-image" alt="">');
          }
        </script>
        <div class="cta">
          <h2 class="flip-in">ChuzeMoto.</h2>
          <p class="flip-in">Choose your Bike</p>
          <a href="" class="btn filled flip-in">Learn More</a>
          
        </div>
        <span class="angled-box to-bottom">
          <span class="layer-wrapper">
            <span class="bottom-black-layer" data-stellar-ratio="0.9"></span>
          </span>
        </span>
      </div>

    </div>
  </div>
</div>
    
    <div class="menu-full main-navigation">
      <div class="inner-content">
        <ul id="menu-header-menu-mobile" class="menu"><li id="menu-item-10446" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10446"><a href="">Street</a></li>
<li id="menu-item-10449" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10449"><a href="">Cruiser</a></li>
<li id="menu-item-10450" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10450"><a href="">ADV</a></li>
<li id="menu-item-10447" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10447"><a href="">Contact</a></li>
<li id="menu-item-10605" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10605"><a href="">About Us</a></li>
<li id="menu-item-10606" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10606"><a href="">Blog</a></li>
</ul>
      <div class="main-menu-actions-mobile">
      <a class="log-in" href="">Creators Log In</a>
          </div>
        </div>
    </div>
  
    
    </section>

    <!-- Analytics events -->
           <script type="text/javascript">
        analytics.track("Viewed Home Page", {"noninteraction":true}, {"library":"analytics-wordpress"});
      </script>
        
    
    
      
    
    <footer>
      <div class="footer-inner-wrapper">
        <div class="copyright-social">
          <div class="copyright">© 2018 Chuze Moto</div>
          <ul class="social-profiles">
            <li><a href="" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="" target="_blank"><i class="fa fa-tumblr"></i></a></li>
            <li><a href="" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
        </div>
        <div class="footer-menu-nav">
          <ul id="menu-other" class="menu"><li id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a href="brands menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="https://www.google.com/search?q=Street+Bikes&source=lnms&tbm=isch&sa=X&ved=0ahUKEwik8P3uwszYAhUP72MKHUsIB2oQ_AUICygC&biw=1159&bih=846&dpr=2">Street</a></li>
<li id="menu-item-80" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a href="https://www.google.com/search?biw=1159&bih=846&tbm=isch&sa=1&ei=85FVWqrPB87AjwPZ5LvgBg&q=Cruiser+Motorcycle+Bikes&oq=Cruiser+Motorcycle+Bikes&gs_l=psy-ab.3..0j0i24k1.2954.6830.0.7436.13.12.1.0.0.0.79.715.12.12.0....0...1c.1.64.psy-ab..0.13.715...0i67k1j0i7i10i30k1j0i7i30k1j0i8i7i30k1j0i13k1j0i13i30k1j0i13i5i30k1j0i10k1.0.GIjxGlHbUR8">Cruiser</a></li>
<li id="menu-item-81" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-81"><a href="https://www.google.com/search?q=ADV+Bikes&source=lnms&tbm=isch&sa=X&ved=0ahUKEwi7y-LMwszYAhVJx2MKHeDjDWQQ_AUICygC&biw=1159&bih=846&dpr=2">ADV</a></li>
<li id="menu-item-10097" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10097"><a href="">Blog</a></li>
<li id="menu-item-74" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-74"><a href="">About Us</a></li>
<li id="menu-item-83" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83"><a href="">Contact</a></li>
</ul>        </div>
      </div>
    </footer>
    
    <link rel="stylesheet" href="https://fullscreenmedia.co/wp-content/themes/fullscreenmedia/assets/build/main.css?cb=092">
    <script type='text/javascript' src='https://fullscreenmedia.co/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='https://fullscreenmedia.co/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/fullscreenmedia.co\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}},"cached":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='https://fullscreenmedia.co/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.9'></script>
<script type='text/javascript' src='https://fullscreenmedia.co/wp-content/themes/fullscreenmedia/assets/build/main.min.js?cb=092&#038;ver=4.8.3'></script>
<script type='text/javascript' src='https://www.youtube.com/player_api?ver=4.8.3'></script>
<script type='text/javascript' src='https://fullscreenmedia.co/wp-includes/js/wp-embed.min.js?ver=4.8.3'></script>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">

  </body>
</html>

