<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>ChuzeMoto | Login</title>

  <link rel="stylesheet" href="css/signup.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>


	<h1>ChuzeMoto | Login </h1>

	<div class="container">
		<form method="POST" action="/login">
			<label for="email">Email:
				<input name="email" type="email" requied>
			</label>
			<label for="password">Password:
				<input name="password" type="password" required>
			</label>
			
			<input type="submit">
		</form>
	</div>

</body>
</html>