h1 {
	font-size: 32px;
	text-transform: uppercase;
	text-align: center;
}

form {
	border: 1px solid #000;
	border-radius: 1px;
	padding: 60px;
	width: 25%;
	margin: 0 auto;
}

label {
	display: block;
	margin-bottom: 25px;
}

.container {
	margin: 30 auto;
	opacity:0.8;
}
