h1 {
	font-size: 32px;
	text-transform: uppercase;
	text-align: center;

}

form {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 25px;
	width: 25%;
	margin: 0 auto;

	
}

label {
	display: block;
	margin-bottom: 25px;

}

.container {
	width: 1024px;
	margin: 0 auto;

}
